<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShowFilterPopupDate.Properties.Settings.treelistdbConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\treelistdb.mdb"
            providerName="System.Data.OleDb" />
        <add name="ShowFilterPopupDate.Properties.Settings.treelistdb_ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\treelistdb (2).mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>